[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
jupyterlab = "*"
azureml-core = "*"
toml = "*"
opencensus = "*"
pandas = "*"
opencensus-ext-azure = "*"
azureml-pipeline = "*"
parse = "*"

[requires]
python_version = "3.8"
